<ion-header>

  <ion-navbar>
    <ion-title>Session Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <h6>{{sessionDetails.Title}}</h6>
  <p>{{sessionDetails.Description}}</p>

  <ion-card *ngFor="let block of sessionDetails.Blocks">

    <ion-card-header>
      {{block.Name}}
    </ion-card-header>

    <ion-card-content>

      <div *ngFor="let part of block.Parts" >
        <div [innerHTML]="part.Description"></div>
        <p>{{part.Type}}</p>
        <p>{{part.Mark}}</p>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>
